<ion-toolbar>
  <ion-buttons routerLink="/princesa-daisy" slot="start">
    <ion-button default-href="#"> Voltar </ion-button>
  </ion-buttons>
  <ion-title>Rosalina</ion-title>
  <ion-buttons routerLink="/donkey-kong" slot="end">
    <ion-button default-href="#"> Próximo </ion-button>
  </ion-buttons>
</ion-toolbar>





<ion-content [fullscreen]="true">
 
  <p align="center">
    <img width="460" height="200" src="https://getwallpapers.com/wallpaper/full/d/c/d/301367.jpg">
  </p>


    <ion-row>
      <ion-col>
        <h1>Nome:</h1>
        <h2>Rosalina</h2>
      </ion-col>
    </ion-row>
       
      
  
    <ion-row>
      <ion-col>
        <h1>Origem:</h1>
        <h2>
          Rosalina é uma personagem fictícia criada pela Nintendo e é frequentemente retratada como uma guardiã estelar.     
        </h2>
        </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h1>Aparência:</h1>
        <h2>
          Rosalina é retratada como uma mulher alta e elegante. Ela tem cabelos loiros longos e olhos azuis profundos. Ela é geralmente vista usando um vestido azul celeste com detalhes estelares e uma coroa estrelada.
        </h2>   
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Personalidade:</h1>
        <h2>
          Rosalina é conhecida por sua personalidade calma, gentil e maternal. Ela é retratada como uma figura sábia e compassiva, cuidando dos Lumas, pequenas criaturas estelares, e sendo protetora do cosmos. Ela é geralmente mostrada como uma pessoa tranquila e reservada.        </h2>
        </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h1>Papel nos jogos:</h1>
        <h2>
          Rosalina apareceu pela primeira vez como uma personagem principal em "Super Mario Galaxy" em 2007. Ela desempenha um papel importante em jogos subsequentes, como "Super Mario Galaxy 2" e "Super Mario 3D World". Rosalina também aparece em jogos de spin-off, como a série "Mario Kart" e "Mario Party".        </h2>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>História:</h1>
        <h2>
          A história de Rosalina é contada no jogo "Super Mario Galaxy", revelando que ela era uma menina terrestre que se tornou a guardiã da Galáxia e construiu sua própria nave espacial, a Comet Observatory.
                </h2>
        </ion-col>
    </ion-row>

</ion-content>
