<ion-toolbar>
  <ion-buttons routerLink="/toad" slot="start">
    <ion-button default-href="#" > Voltar </ion-button>
  </ion-buttons>
  <ion-title>Wario</ion-title>
  <ion-buttons routerLink="/waluigi" slot="end">
    <ion-button default-href="#"> Próximo </ion-button>
  </ion-buttons>
</ion-toolbar>




<ion-content [fullscreen]="true">
 
  <p align="center">
    <img width="460" height="200" src="https://1.bp.blogspot.com/-I501Pib9zW8/Xkcbk7hNDTI/AAAAAAAAEx0/xPImj7M-CkofcxMUCL23gX_cv3uBz9d9ACLcBGAsYHQ/w1200-h630-p-k-no-nu/warioo.png">
  </p>


    <ion-row>
      <ion-col>
        <h1>Nome:</h1>
        <h2>Wario</h2>
      </ion-col>
    </ion-row>
       
      
    <ion-row>
      <ion-col>
        <h1>Origem:</h1>
        <h2>
          Wario é um personagem fictício criado pela Nintendo e é conhecido como um "anti-herói" na franquia Mario.
        </h2>
        </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h1>Aparência:</h1>
        <h2>
          Wario é retratado como um homem corpulento com um bigode grosso, pele amarelada e olhos arregalados. Ele geralmente é mostrado usando um macacão roxo com botões amarelos e um boné amarelo com uma letra "W" nele.
        </h2>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Personalidade:</h1>
        <h2>
          Wario é conhecido por ser ganancioso, egoísta e travesso. Ele está frequentemente em busca de tesouros, dinheiro e poder, muitas vezes entrando em conflito com Mario e seus amigos. Wario tem uma personalidade robusta e muitas vezes é retratado como um personagem excêntrico e debochado.
          </h2>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Papel nos jogos:</h1>
        <h2>
          Wario estreou como um antagonista em "Super Mario Land 2: 6 Golden Coins" em 1992 e posteriormente estrelou em vários jogos próprios, como a série "Wario Land" e "WarioWare". Nessas séries, ele embarca em suas próprias aventuras e desafios.
        </h2>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Habilidades:</h1>
        <h2>
          Wario possui força física excepcional e é capaz de realizar ataques poderosos, como o "Shoulder Bash" (investida de ombro) e o "Ground Pound" (pulso no chão). Ele também é conhecido por sua resistência e resistência a certos efeitos negativos
        </h2>
          </ion-col>
    </ion-row>


</ion-content>
