ion-item {
  --padding-start: 0;
}

ion-card-title{
  text-align: center;
  font-weight: bold;
}

ion-card{
  justify-content: center;
}

ion-icon{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plano-fundo {
  --background: url("https://i.pinimg.com/564x/a8/15/57/a8155713a93b7309d4b61bad7d636011.jpg") no-repeat center center / cover;
}

