.full-height{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .fundo{
    --background: url("https://wallpapers.com/images/hd/luigi-with-yoshi-l1v9sblful2mva8d.jpg") no-repeat center center / cover;
  }
  
  

  h1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(255, 0, 0);
    font-weight: bold;
   
  }