<ion-toolbar>
  <ion-buttons routerLink="/home" slot="start">
    <ion-button default-href="#" > Voltar </ion-button>
  </ion-buttons>
  <ion-title>Cadastro</ion-title>
  <ion-buttons routerLink="/personagens" slot="end">
    <ion-button default-href="#"> Próximo </ion-button>
  </ion-buttons>
</ion-toolbar>








<ion-content [fullscreen]="true" class="fundo">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="8" size-xl="6" class="full-height">

      <ion-row>
        <ion-col size="12" class="ion-text-center">
        <h1>
          Cadastre-se Para Receber Novidades!
        </h1> 
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">

          <ion-card>
            <ion-card-content>


      
              <ion-input
              type="email"
              fill="outline"
              label="Email"
              labelPlacement="floating"
              helperText="Digite um Email Válido"
              errorText="Email Inválido"
              ngModel
              email
            ></ion-input>


            <ion-input
            type="usuario"
            label="Usúario"
            labelPlacement="floating"
            errorText="Usúario Inválido"
            ngModel
            usuario
          ></ion-input>

            <ion-input
              label="Senha"
              type="password"
              labelPlacement="floating"
              ngModel
              senha
            >
            </ion-input>

            <ion-input
              label="Confirmar Senha"
              type="password"
              labelPlacement="floating"
              ngModel
              confirmar senha
            >
            </ion-input>
              
    
                    <ion-button color="danger" style="width: 200px; " (click)="setOpen(true)">Finalizar</ion-button>
<ion-alert
  [isOpen]="isAlertOpen"
  header="Atenção"
  subHeader="Obrigada pelo Cadastro."
  message="Receberá Nossas Novidades em Breve!"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>
    
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>

      
    </ion-col>
  </ion-row>
</ion-content>
