<ion-toolbar>
  <ion-buttons routerLink="/luigi" slot="start">
    <ion-button default-href="#"> Voltar </ion-button>
  </ion-buttons>
  <ion-title>Yoshi</ion-title>
  <ion-buttons routerLink="/bowser" slot="end">
    <ion-button default-href="#"> Próximo </ion-button>
  </ion-buttons>
</ion-toolbar>




<ion-content [fullscreen]="true">
 
  <p align="center">
    <img width="460" height="200" src="https://wallpaperaccess.com/full/186789.jpg">
  </p>


    <ion-row>
      <ion-col>
        <h1>Nome:</h1>
        <h2>Yoshi </h2>
      </ion-col>
    </ion-row>
       
      
    <ion-row>
      <ion-col>
        <h1> Espécie:</h1>
        <h2>
          Yoshi é uma espécie de dinossauro antropomórfico.
          </h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Nacionalidade:</h1>
        <h2>
          Italiano (assim como seu irmão Mario)
          </h2>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h1>Aparência:</h1>
        <h2>
          Yoshi tem uma aparência distinta, com uma pele verde, olhos grandes e um focinho longo. Ele geralmente tem um sorriso amigável em seu rosto e um par de sapatos grandes. Existem variações de cores de Yoshi, como o Yoshi vermelho, azul, amarelo, entre outros.        
        </h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Habilidade:</h1>
        <h2>
          Yoshi é conhecido por sua habilidade única de engolir inimigos com sua longa língua e transformá-los em ovos que podem ser usados como projéteis. Ele também tem a capacidade de planar temporariamente no ar usando suas asas curtas.         </h2>  
         </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h1>Personalidade:</h1>
        <h2>
          Yoshi é retratado como um personagem alegre, leal e corajoso. Ele é conhecido por sua natureza brincalhona e por ser um grande amigo de Mario e seus companheiros.   
               </h2>
          </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Papel nos jogos:</h1>
        <h2>
          Yoshi apareceu pela primeira vez como um personagem jogável no jogo "Super Mario World" em 1990. Desde então, ele estrelou em vários jogos próprios, como a série "Yoshi's Island" e "Yoshi's Woolly World".
         </h2>
          </ion-col>
    </ion-row>


</ion-content>
