<ion-toolbar>
  <ion-buttons routerLink="/diddy-kong" slot="start">
    <ion-button default-href="#"> Voltar </ion-button>
  </ion-buttons>
  <ion-title>Lakitu</ion-title>
  <ion-buttons routerLink="/shy-guy" slot="end">
    <ion-button default-href="#"> Próximo </ion-button>
  </ion-buttons>
</ion-toolbar>





<ion-content [fullscreen]="true">
 
  <p align="center">
    <img width="460" height="200" src="https://1.bp.blogspot.com/-vjRVKhXeqnU/U9wElOb24NI/AAAAAAAABfU/-bDpju_i8Uw/s1600/Lakitu-Perfil-nintendoblast.jpg">
  </p>


    <ion-row>
      <ion-col>
        <h1>Nome:</h1>
        <h2>Lakitu</h2>
      </ion-col>
    </ion-row>
       
      
  
    <ion-row>
      <ion-col>
        <h1>Origem:</h1>
        <h2>
          Lakitu é um personagem fictício criado pela Nintendo e é frequentemente retratado como um inimigo comum em jogos da franquia Mario.
        </h2>
        </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h1>Aparência:</h1>
        <h2>
          Lakitu é retratado como uma criatura com uma concha verde que flutua no ar. Ele tem olhos grandes e uma boca sorridente. Geralmente, ele é mostrado segurando uma nuvem chamada "Cloud Koopa" e uma vara de filmagem.
        </h2>
        </ion-col>
    </ion-row>


   
    <ion-row>
      <ion-col>
        <h1>Papel nos jogos:</h1>
        <h2>
          Lakitu apareceu pela primeira vez como um inimigo em "Super Mario Bros." em 1985. Ele é conhecido por sua habilidade de lançar Spiny Eggs em direção ao jogador. Além disso, Lakitu também é visto em jogos atuando como um observador e cinegrafista, como em "Mario Kart", onde ele grava as corridas.
        </h2>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Comportamento:</h1>
        <h2>
          Lakitu é conhecido por sua tendência de flutuar no ar em sua nuvem e lançar objetos em direção aos jogadores. No entanto, em alguns jogos, Lakitu pode desempenhar papéis mais amigáveis, como fornecer itens ou ajudar o jogador em certas situações.
        </h2>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Variações:</h1>
        <h2>
          Existem variações de Lakitu em diferentes jogos, como Spiny Lakitu, que lança Spiny Eggs mais perigosos, e Fishin' Lakitu, que usa uma vara de pescar para lançar objetos        </h2>
        </ion-col>
    </ion-row>
</ion-content>
