<ion-toolbar>
  <ion-buttons routerLink="/cadastrar" slot="start">
    <ion-button default-href="#" > Voltar </ion-button>
  </ion-buttons>
  <ion-title>Personagens</ion-title>
  <ion-buttons routerLink="/home" slot="end">
    <ion-button default-href="#"> Home </ion-button>
  </ion-buttons>
</ion-toolbar>




<ion-content [fullscreen]="true" class="fundo">

  


  <div class="container">
    
  <ion-card style="text-align: center;" routerLink="/super-mario" >
    <img alt="Silhouette of mountains" src="https://wallpaper.dog/large/20520678.jpg" />
    <ion-card-content>
Click aqui para ver os personagens de Super Mario!
    </ion-card-content>
  </ion-card>

</div>


  

  
     
  
    
   
      
</ion-content>
