<ion-toolbar>
  <ion-buttons routerLink="/menu"  slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Mario Bros</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
 
  <p align="center">
    <img width="460" height="200" src="https://i.pinimg.com/564x/dd/3e/09/dd3e0939fcb81cf23493fb33e1946cf3.jpg">
  </p>


    <ion-row>
      <ion-col>
        <h1>Nome:</h1>
        <h2>Mario Mario</h2>
      </ion-col>
    </ion-row>
       
      
    <ion-row>
      <ion-col>
        <h1>Profissão:</h1>
        <h2> Encanador</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Nacionalidade:</h1>
        <h2>
          Italiano (embora sua nacionalidade não seja mencionada nos jogos, a origem italiana de Mario foi estabelecida por meio de outras mídias, como filmes e desenhos animados)
        </h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Aparência:</h1>
        <h2>
          Mario é geralmente retratado como um homem baixo e de estatura média, com cabelo e bigode pretos, vestindo um macacão azul, uma camiseta vermelha e um boné vermelho com um "M" na frente.        </h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Personalidade:</h1>
        <h2>
          Ele é retratado como um herói corajoso, determinado e otimista, sempre disposto a enfrentar desafios para salvar a Princesa Peach e o Reino do Cogumelo dos vilões.   </h2>  
         </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h1>História:</h1>
        <h2>Mario fez sua primeira aparição no jogo "Donkey Kong" em 1981 e se tornou o protagonista de uma série de jogos populares, como "Super Mario Bros.", "Super Mario 64", "Super Mario Galaxy" e muitos outros. </h2>
          </ion-col>
    </ion-row>



</ion-content>
