<ion-toolbar>
  <ion-buttons routerLink="/menu"  slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Back Button</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
 
  <p align="center">
    <img width="460" height="200" src="https://i.pinimg.com/564x/dd/3e/09/dd3e0939fcb81cf23493fb33e1946cf3.jpg">
  </p>

















  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <h1>Nome:</h1>
        <h2>Mario Mario</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
