

<ion-content [fullscreen]="true" class="fundo">
  

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home" tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button routerLink="/cadastrar" tab="menu">
      <ion-icon name="person"></ion-icon>
      Menu
    </ion-tab-button>
    <ion-tab-button routerLink="/personagens"  tab="characters">
    <ion-icon name="search"></ion-icon>
      Personagens
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>
