.fundo {
  --background: url("https://images5.alphacoders.com/981/981660.jpg") no-repeat center center / cover;
}

ion-button {
  --background: #ffffff;
  --color: #000000;
  
}



h1{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30px;
  font-family: cursive;
}


