<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <!-- Menu de Navegação -->
<ion-row>
  <ion-col size="12">
    <ion-segment value="brasil">
      <ion-segment-button value="brasil">
        <ion-label>Brasil</ion-label>
      </ion-segment-button>

      <ion-segment-button value="china">
        <ion-label>China</ion-label>
      </ion-segment-button>

      <ion-segment-button value="mexico">
        <ion-label>México</ion-label>
      </ion-segment-button>

      <ion-segment-button value="india">
        <ion-label>Índia</ion-label>
      </ion-segment-button>

      <ion-segment-button value="italia">
        <ion-label>Itália</ion-label>
      </ion-segment-button>

      <ion-segment-button value="peru">
        <ion-label>Peru</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-col>
</ion-row>
  

<!-- Imagens do Brasil -->

<ion-row>
  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/9548742/pexels-photo-9548742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

  
    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/3607628/pexels-photo-3607628.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/10205926/pexels-photo-10205926.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

  
</ion-row>


  <!-- Imagens da China -->

<ion-row>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/1653826/pexels-photo-1653826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/19872/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/10952316/pexels-photo-10952316.jpeg?auto=compress&cs=tinysrgb&w=1600">
    </ion-card>
  </ion-col>

  
</ion-row>

  <!-- Imagens do México -->

<ion-row>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/4107611/pexels-photo-4107611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/13619277/pexels-photo-13619277.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/10967811/pexels-photo-10967811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

</ion-row>



  <!-- Imagens da Índia -->


<ion-row>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/1583339/pexels-photo-1583339.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/5458393/pexels-photo-5458393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/2697288/pexels-photo-2697288.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

</ion-row>



  <!-- Imagens da Italia -->

<ion-row>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/3469505/pexels-photo-3469505.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/5067082/pexels-photo-5067082.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/3021382/pexels-photo-3021382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

</ion-row>



  <!-- Imagens de Peru -->


<ion-row>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/3879058/pexels-photo-3879058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/5952569/pexels-photo-5952569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/5952568/pexels-photo-5952568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

</ion-row>


  <!-- Imagens de Jordânia -->

<ion-row>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/3214958/pexels-photo-3214958.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/2179666/pexels-photo-2179666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/1631665/pexels-photo-1631665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>

</ion-row>









</ion-content>

