<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-grid>
    <ion-button color="warning" (click)="exibir(1)">C</ion-button> 
    <ion-button color="warning" (click)="exibir(2)">+/-</ion-button>
    <ion-button color="warning" (click)="exibir(3)">⌫</ion-button>
    <ion-button color="warning" (click)="exibir(4)">/</ion-button>
</ion-grid>



<ion-grid>
    <ion-button color="danger" (click)="exibir(5)">7</ion-button> 
    <ion-button color="danger" (click)="exibir(6)">8</ion-button>
    <ion-button color="danger" (click)="exibir(7)">9</ion-button>
    <ion-button color="danger" (click)="exibir(8)">*</ion-button>
</ion-grid>
   
      
<ion-grid>
    <ion-button color="danger" (click)="exibir(9)">4</ion-button> 
    <ion-button color="danger" (click)="exibir(10)">5</ion-button>
    <ion-button color="danger"(click)="exibir(11)">6</ion-button>
    <ion-button color="danger" (click)="exibir(12)">-</ion-button>
</ion-grid>
   

<ion-grid>
    <ion-button (click)="exibir(13)">1</ion-button> 
    <ion-button (click)="exibir(14)">2</ion-button>
    <ion-button (click)="exibir(15)">3</ion-button>
    <ion-button (click)="exibir(16)">+</ion-button>
</ion-grid>
   
<ion-grid>
    <ion-button (click)="exibir(13)">0</ion-button> 
    <ion-button (click)="exibir(14)">=</ion-button>
</ion-grid>
   


</ion-content>
 