<ion-toolbar>
  <ion-buttons routerLink="/bowser" slot="start">
    <ion-button default-href="#" > Voltar </ion-button>
  </ion-buttons>
  <ion-title>Toad</ion-title>
  <ion-buttons routerLink="/wario" slot="end">
    <ion-button default-href="#"> Próximo </ion-button>
  </ion-buttons>
</ion-toolbar>




<ion-content [fullscreen]="true">
 
  <p align="center">
    <img width="460" height="200" src="https://pyxis.nymag.com/v1/imgs/987/088/7667c8518be9d86a3703854f34bcfa18ae-toad-.2x.rsocial.w600.jpg">
  </p>


    <ion-row>
      <ion-col>
        <h1>Nome:</h1>
        <h2>Toad</h2>
      </ion-col>
    </ion-row>
       
      
    <ion-row>
      <ion-col>
        <h1>Espécie:</h1>
        <h2>
          Toad é uma espécie de cogumelo antropomórfico. Ele é frequentemente retratado como um membro leal e dedicado da comunidade do Reino do Cogumelo.        </h2>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <h1>Aparência:</h1>
        <h2>
          Toad é caracterizado por seu corpo redondo e cabeça em formato de cogumelo. Ele tem olhos grandes, um sorriso amigável e geralmente usa um colete azul com botões amarelos e uma veste branca.        </h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Personalidade:</h1>
        <h2>
          Toad é conhecido por ser corajoso, otimista e prestativo. Ele frequentemente oferece ajuda e informações úteis a Mario e seus amigos em suas aventuras. Toad é retratado como um personagem amigável e alegre.                 </h2>  
         </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Papel nos jogos:</h1>
        <h2>
          Toad apareceu pela primeira vez como um personagem de apoio no jogo "Super Mario Bros." em 1985. Desde então, ele desempenhou vários papéis em jogos da franquia Mario, incluindo a função de ajudante, fornecedor de itens e até personagem jogável em jogos como "Super Mario 3D World".               </h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Variações:</h1>
        <h2>
          Além do Toad comum, existem variações de cores como Toadette, Toadsworth e Capitão Toad, cada um com suas próprias características e personalidades distintas.
        </h2>
          </ion-col>
    </ion-row>


</ion-content>
